<i data-move="false" class="fa-solid fa-bars" style="z-index: 9999;"></i>
<nav data-show="false">
    <img src="https://letstalkhair.tv/wp-content/uploads/2019/07/imdb_logo_png_699617.png" alt="" width="100%">
    <ul>
        <li><a href="/" class="link link1" data-value="Return to Home Page"><i class="fa-solid fa-house"></i></a></li>
        <li><a href="/movies" class="link link3" data-value="See all the Movies"><i class="fa-solid fa-video"></i></a></li>
        <li><a href="/date" class="link link2" data-value="See all the Movies based on the year"><i class="fa-solid fa-calendar"></i></a></li>
        <li><a href="/trailer" class="link link4" data-value="See all the Trailers"><i class="fa-solid fa-trailer"></i></a></li>
        <li><a href="/addmovie" class="link link4" data-value="Add your Movie"><i class="fa-solid fa-plus"></i></a></li>
    </ul>
    <a href="/about" class="link" data-value="About Me"><i class="fa-solid fa-circle-info"></i></a>
</nav>


