section {
    width: calc(100% - 80px);
    padding: 1em;

    position: absolute;
    top: 0; right: 0;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    gap: 1em;
    transition: .3s;
}

#section > div {
    padding: 1em 2em;
}

#section > div {
    background-color: #2F2F2F;
    border-radius: .5em;
    overflow: hidden;
}
/* #section > div #img {
    overflow: hidden;
} */
#section > div #img img {
    width: 100%;
    transition: .3s;
    border-radius: .5em;
}
#section > div:hover > #img img {
    transform: scale(1.06);
}


#information {
    padding-top: .5em;
}
#information h1 {
    font-size: 1em;
}
#information a {
    color: inherit;
    text-decoration: none;
    background-color: #212121;
    display: inline-block;
    padding: .5em 1em;
    margin-top: 1em;
    border-radius: .5em;
}
#information a:hover {
    background-color: #111111;
}

#extraInformation {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 0;
}
#extraInformation p {
    color: #b3b3b3;
    font-size: .9em;
}


#search {
    grid-column: 1/7;
}

#search input {
    width: 100%;
    background-color: #2F2F2F;
    color: white;
    border: none;
    padding: 1em .5em;
    outline: none;
    border-radius: 10px;
}


#movies {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: movieEntry 1s;
}
@keyframes movieEntry {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    25% {
        opacity: 1;
        transform: translateY(-10px);
    }
}

#movies > a {
    position: absolute;
    top: 1em; left: 1em;
    display: inline-block;
    background-color: hsl(45, 100%, 33%);
    color: white;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: .5em;
}
#movies > a:hover {
    background-color: hsl(45, 100%, 27%);
}

@media (max-width: 1250px) {
    section {
        grid-template-columns: repeat(5, 1fr);
    }
    #search {
        grid-column: 1/6;
    }
}
@media (max-width: 992px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }
    #search {
        grid-column: 1/4;
    }
}
@media (max-width: 768px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }
    #search {
        grid-column: 1/4;
    }
    #section > div {
        padding: .5em 1.5em;
    }
    #information h1 {
        font-size: 1.2em;
    }
    #extraInformation p {
        font-size: .7em;
    }
}
@media (max-width: 576px) {
    nav {
        transform: translateX(-99.9999%);
        transition: .3s;
    }
    section {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    #section > div {
        padding: 0em;
    }
    #information {
        padding: .5em;
    }
    #information h1 {
        font-size: 1em;
    }
    
    .fa-bars {
        display: block;
        font-size: 1.5em;

        position: fixed;
        left: 20px;
        bottom: 20px;
        z-index: 1000;

        background-color: #A97E00;
        border-radius: 50%;
        padding: 15px 16px;
        cursor: pointer;
        transition: .3s;
    }
    .fa-bars--move {
        transform: translateX(80px);
    }
    #search {
        grid-column: 1/3;
    }
}